@use "./../../fonts.scss";

.hero-section {
  max-width: 90em; /* 1440px */
  margin: auto;
  padding: var(--space-800) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-600);

  @media (min-width: 48em) {
    gap: var(--space-900);
  }

  @media (min-width: 67.5em) {
    flex-direction: row;
  }

  &__image {
    @media (max-width: 67.5em) {
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;

      img {
        flex-shrink: 0;
        min-width: 27.0625em; /* 433px */
        width: 106%;
      }
    }
  }

  &__content {
    max-width: 28em; /* 448px */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--space-300);
    flex-shrink: 0;
    margin: 0 var(--space-400);

    @media (min-width: 48em) {
      margin: auto;
    }
  }

  &__headline {
    @include fonts.apply-text-preset("1");
  }

  &__description {
    @include fonts.apply-text-preset("4");
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-200);

    @media (min-width: 48em) {
      justify-content: center;
      flex-direction: row;
    }
  }
}
