@use "./../../fonts.scss";

.hero-section {
//   max-width: 1440px;
//   margin: auto;
  padding: var(--space-800) var(--space-400);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-600);

  @media (min-width: 768px) {
    
    gap: var(--space-900);
  }

  @media (min-width: 1080px) {
    flex-direction: row;
  }

  &__content {
    max-width: 448px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--space-300);
    margin: auto;
    flex-shrink: 0;
  }

  &__headline {
    @include fonts.apply-text-preset("1");
  }

  &__description {
    @include fonts.apply-text-preset("4");
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);

    @media (min-width: 768px) {
        justify-content: center;
        flex-direction: row;
    }
  }
}
