@use "./../../fonts.scss";
$--color-overlay: rgba(#4d96a9, 0.8);

.footer {

  // SectionDivider
  > :first-child {
    position: relative;
    top: 1.75em; /* 28px */
    margin: auto;
  }  

  &__content {
    background-image: url("./../../assets/images/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-image: linear-gradient($--color-overlay) fill 1;
    padding: var(--space-800) var(--space-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-300);
    text-align: center;
    color: var(--color-white);

    @media (min-width: 48em) {
      background-image: url("./../../assets/images/tablet/image-footer.jpg");
    }
    @media (min-width: 67.5em) {
      background-image: url("./../../assets/images/desktop/image-footer.jpg");
      flex-direction: row;
      justify-content: center;
      padding: var(--space-1400) var(--space-1000);
      text-align: left;
    }
  }

  &__title {
    @include fonts.apply-text-preset("2");
    @media (min-width: 67.5em) {
      max-width: 27.8125em; /* 445px */
    }
  }

  &__text {
    @include fonts.apply-text-preset("4");
    @media (min-width: 67.5em) {
      max-width: 22.1875em; /* 355px */
      margin-right: 4em; /* 64px */
    }
  }
}
